@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
/* font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */


:root{
    --main-font: 'Poppins', sans-serif;
    --main-font-color:rgb(58, 58, 58);
    --main-color:rgb(255, 255, 255);
    --main-a-h-color:#1b5f9e;
    --color1:#3093EE;
    --main-color-hover:rgb(40, 118, 207);
    --time: .3s;
    --shadow:0px 5px 5px rgba(18, 1, 1, 0.045);
}
a{
    color: var(--main-font-color);
}
*{  
    font-family: var(--main-font);
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.header{
    box-shadow: var(--shadow);
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;
    width: 100%;
}

.header-logo{
    display: flex;
    margin:0px 20px;
}
.header-logo a{
    font-weight: 900;
    font-size: 1.2em;
}
.header-logo-bar{
    display: flex;
}
.header-links-ul{
    display: flex;
    flex-direction: column;
}
.header-links{
    z-index: 400 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background-color: var(--main-color);
    left: -2000px;
    top: 80px;
    transition: all var(--time) ease;
    height: calc(100vh - 80px);
}
.header-ul-bars{
    display: none;
}
.header-links-ul li a{
    width: 100%;
    padding: 20px 20px;
    display: inline-block;
    font-weight: 900;
    transition: all var(--time) ease;
}
.header-links-ul li a:hover{
    color: #fff;
    background-color: var(--main-color-hover);
}
.header-links-open{
    left: 0px;
}
.header-links-social{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
}
.header-links-social a:hover{
    color: var(--main-a-h-color);
}
.header-links-social li{
    padding-right: 30px;
}
.header-links-social li ul{
    display: flex;
}
.header-links-social li ul li{
    padding: 0 10px;
}
.header-btns{
    display: flex;
}

.header-btns button{
   margin:0px 10px;
}
.header-search-form-open{
    box-shadow: var(--shadow);
    height: 45px !important;
    padding: 5px 5px !important;
}
.header-search-form{
    padding: 0px 5px;
    display: flex;
    justify-content: space-around;
    transition: all var(--time) ease;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0px;
    height: 0px;
    overflow: hidden;
    background-color: var(--main-color);
    border: none;
    overflow: hidden;
}
.header-search-input{
    border: none;
    height:100%;
    outline: none;
    width: 95%;
}
.header-search-btn{
    height:100%;
    padding: 0px 10px;
    margin: 0px !important;
}

/* user options start*/
.user-options{
    background-color:var(--main-color);
    top: 80px;
    right: 0px;
    display: flex;
    flex-direction: column;
    height: 0px;
    position: absolute;
    overflow: hidden;
    transition: all var(--time);
    padding: 0px 20px;
}
.user-options a{
    color: var(--main-font-color);
    transition: all var(--time);
}
.user-options a:hover{
    transform: translateX(3px);
    color: var(--main-a-h-color);
}
.user-options-open{
    box-shadow: var(--shadow);
    height: max-content;
    padding: 20px;
}
/* user options end */



/* login start */
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-container p{
    font-size: .8em;
}
.login-container p a{
    color: var(--color1);
    font-size: 1em;
    text-decoration: underline;
}
.login-container p a:hover{
    color: var(--main-a-h-color);
}
.login-form{
    display: flex;
    flex-direction: column;    
    width: 300px;
    padding: 20px 0px;
}
.login-input{
    border-radius: 4px;
    border: 1px solid var(--main-font-color);
    color: var(--main-font-color);
    padding: 5px 10px;
    font-size: .8em;
}
.login-input:focus{
    color: var(--main-a-h-color);
    outline: none;
    border-color: var(--main-a-h-color);
}
.login-form input[type=submit]{
    margin-top: 15px;
    background-color: var(--color1);
    color: var(--main-color);
    border-radius: 4px;
    border: 1px solid var(--color1);
    padding: 5px;
    cursor: pointer;  
    transition: all var(--time);
}
.login-form input[type=submit]:hover{
    background-color: var(--main-a-h-color);
    border-color: var(--main-a-h-color);
}
.login-form label{
    margin-top: 5px;
    color: var(--main-font-color);
}
.login-form-title{
    font-size: 1.6em;
}
/* login end */







