*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
:root{
    --main-color:red;
}

.header{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;
    width: 100%;
}

.header-logo,
.header-links{
    display: flex;
}